{% extends "base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %} - E-commerce Store
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-3">
      <h3>Categories</h3>
      <ul class="list-group">
        <li class="list-group-item {% if not category %}active{% endif %}">
          <a href="{% url 'store:product_list' %}" class="text-decoration-none">All</a>
        </li>
        {% for c in categories %}
          <li class="list-group-item {% if category.slug == c.slug %}active{% endif %}">
            <a href="{{ c.get_absolute_url }}" class="text-decoration-none">{{ c.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-lg-9">
      <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
      <div class="row">
        {% for product in products %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{{ product.get_absolute_url }}">
                <img class="card-img-top" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="{{ product.name }}">
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                </h4>
                <h5>${{ product.price }}</h5>
                <p class="card-text">{{ product.description|truncatewords:20 }}</p>
              </div>
            </div>
          </div>
        {% empty %}
          <p>No products found.</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}